
/* ---------- Color Module Styles ----------- */

/* -----Copied from bartik and colors modified to match KSU colors------*/

body,
body.overlay {
  color: #eaaa00;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #ffffff;
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #00205b;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #00205b 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #00205b 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #00205b 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #00205b));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #00205b 100%);
  background-image: linear-gradient(top, #0779bf 0%, #00205b 100%);
}
a {
  color: #eaaa00;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #eaaa00;
}
